<div class="container">
<ul>
    <li><a href="">Arabian</a></li>
    <li><a href="">Starters</a></li>
    <li><a href="">Drinks</a></li>
    </ul>

    <hr>
    <div class="row">
        <div class="col-lg-3">
    <ul *ngFor= "let dishes of disheslsit.Arabian">
        <li>{{dishes.id}}</li>
        <li>{{dishes.name}}</li>
        <li>{{dishes.price}}</li>
        <li>{{dishes.image}}</li>
    </ul>
</div>
<div class="col-lg-3">
    <ul *ngFor= "let dishes of disheslsit.Starters">
            <li>{{dishes.id}}</li>
            <li>{{dishes.name}}</li>
            <li>{{dishes.price}}</li>
            <li>{{dishes.image}}</li>
        </ul>
    </div>
    <div class="col-lg-3">
        <ul *ngFor= "let dishes of disheslsit.Drinks">
                <li>{{dishes.id}}</li>
                <li>{{dishes.name}}</li>
                <li>{{dishes.price}}</li>
                <li>{{dishes.image}}</li>
            </ul>
            </div>
        </div></div>